@font-face {
  font-family: 'LifeCraft';
  src: url(./../assets/fonts/LifeCraft.ttf);
}

body {
  background-color: #000;
}

iframe {
  width: 100%;
  height: 100%;
}

section {
  z-index: -9999;
}

nav {
  border-radius: 0px !important; 
  margin: 0px !important;
  background-color: #000 !important;
  border: 0px !important;
}

.navbar-button {
  z-index: 9999;
  position: absolute;
  background-color: #1f2225;
  top: 65px;
  border-radius: 0px 11px 11px 0px;
}

div.col-lg-12 {
  padding-left: 0px;
  padding-right: 0px; 
}

div#page-content-wrapper {
  padding: 0px !important;
}

img#logo {
  width: 200px;
}

img {
  width: 150px;
}