<section ng-controller="NewsController">

  <div ng-repeat="news in posts.posts">

    <div class="row">

      <div class="news">
        <a href="#news/{{news.ID}}"><h3 class="title">{{news.title}}</h3></a>
        <p class="text-muted"><span class="glyphicon glyphicon-calendar"></span> {{news.date | date:'medium'}}</p>
        <p class="text" ng-bind-html="news.excerpt | to_trusted"></p>
        <p ng-if="news.author" class="text-muted">Autore <a>{{news.author.login}}</a></p>
      </div>

    </div>

    <hr />

  </div>
</section>